@import url("https://cdn.syncfusion.com/ej2/material.css");
/* thongtintour */
.noidung-dattour {
	width: 60rem;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 5rem;
}
.cardtour {
	color: rgb(2, 100, 200);
	background-color: rgb(236, 248, 255);
	font-size: 0.8rem;
	padding: 0.4rem;
	max-width: max-content;
	border-radius: 14px;
	margin-left: 1rem;
}
.cardtourlocationImg {
	margin-left: 1rem;
}
.cardtourinfodiaDiem {
	display: inline-block;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	margin-left: 4px;
}
.diadiem-dattour {
	padding: 1.2% 0;
	border-bottom: 1px solid rgb(216, 216, 216);
}
.image {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-left: 2rem;
}
#img-main {
	height: 462px;
	width: 99%;
	max-width: 99%;
	max-height: 99%;
	padding-right: 15px;
}
.image-dattour-1 {
	flex: 4.3;
	flex-direction: column;
}
.image-dattour-2 {
	flex: 1;
	margin-right: 2rem;
	flex-direction: column;
}
.noidung-giatien-tour {
	display: inline;
	color: rgba(3, 18, 26, 1);
	font-weight: bold;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-weight: 500;
	font-size: 20px;
	margin-left: 4px;
}
.btn-favorite {
	width: 24px;
	height: 24px;
	float: right;
}
.giatien-tour {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	justify-content: space-around;
	padding: 1rem;
	border-top: 1px solid rgb(216, 216, 216);
}
.giatien div {
	margin-bottom: 2.5%;
}
.noidung-giatien-tour {
	flex-basis: 65%;
}
.btn-timtour {
	width: 80%;
	height: 3rem;
	text-align: center;
	padding: 0.6rem;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgba(255, 255, 255, 1);
	background-color: rgb(255, 94, 31);
	border: 0 solid black;
	cursor: pointer;
}
.btn-timtour a {
	color: inherit;
}
.khoanhkhac {
	border-top: 1px solid rgb(216, 216, 216);
	padding: 1rem;
	height: max-content;
}
.btn-timtour {
	width: 15rem;
	height: 3rem;
	text-align: center;
	padding: 0.6rem;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgba(255, 255, 255, 1);
	background-color: rgb(255, 94, 31);
	border: 0 solid black;
	cursor: pointer;
}
.image-khoanhkhac {
	display: flex;
}
.img-khoanhkhac {
	flex: auto;
	margin: 0.5vw;
	cursor: pointer;
}
.type-hoatdong {
	margin: 3rem 17.5rem 0;
	font-weight: 800;
}
.DiemNoiBat-hoatdong {
	display: flex;
	flex-wrap: initial;
	margin-top: 2rem;
}
.NoiDung-DiemNoiBat {
	width: 41rem;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 10px;
	padding: 1.2%;
	margin-left: 17.3rem;
}
.YeuThich-NoiDung-DiemNoiBat {
	display: flex;
	padding-top: 2rem;
}
.Image-YeuThich-NoiDung-DiemNoiBat {
	width: 1.5rem;
}
.NoiDung-YeuThich-NoiDung-DiemNoiBat {
	padding-left: 15px;
}

.Noidung-DatTour-small-hoatdong {
	width: 18rem;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 10px;
	height: 23rem;
	padding: 1% 0;
	margin-left: 1.6rem;
}
.tieude-diadiem {
	font-size: 1.3rem;
	flex: 16;
	font-weight: bold;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-left: 1rem;
}
.btn-Noidung-DatTour-small-hoatdong {
	width: 90%;
	margin: 0 auto;
	height: 3rem;
	text-align: center;
	padding: 0.6rem;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgba(255, 255, 255, 1);
	background-color: rgb(255, 94, 31);
	border: 0 solid black;
	cursor: pointer;
	margin-top: 1rem;
}
.Ve-Noidung-DatTour-small-hoatdong {
	display: flex;
	margin-top: 1rem;
}
.Ve-Noidung-DatTour-small-hoatdong img {
	width: 1rem;
	height: 1rem;
	flex: 1;
	margin-left: 1rem;
	margin-top: 0.2rem;
}
.title-Ve-Noidung-DatTour-small-hoatdong {
	font-size: 0.9rem;
	flex: 16;
	font-weight: bold;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-left: 1rem;
}
.ThoiGian-Noidung-DatTour-small-hoatdong {
	display: flex;
	border-bottom: 1px solid rgb(216, 216, 216);
}
.ThoiGian-Noidung-DatTour-small-hoatdong img {
	width: 1rem;
	height: 1rem;
	flex: 1;
	margin-left: 1rem;
	margin-top: 0.2rem;
}
.title-ThoiGian-Noidung-DatTour-small-hoatdong {
	font-size: 0.9rem;
	flex: 16;
	font-weight: bold;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-left: 1rem;
	padding-bottom: 2%;
}
.TinhNang-Noidung-DatTour-small-hoatdong {
	margin-top: 1rem;
	font-size: 1rem;
	flex: 16;
	font-weight: bold;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-left: 1rem;
}
.Easy-Noidung-DatTour-small-hoatdong {
	display: flex;
	margin-top: 1rem;
}
.Easy-Noidung-DatTour-small-hoatdong img {
	width: 1rem;
	height: 1rem;
	flex: 1;
	margin-left: 1rem;
	margin-top: 0.2rem;
}
.title-Easy-Noidung-DatTour-small-hoatdong {
	font-size: 0.9rem;
	flex: 16;
	font-weight: bold;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-left: 1rem;
}
.Gia-Noidung-DatTour-small-hoatdong {
	display: flex;
	margin-top: 0.5rem;
}
.Gia-Noidung-DatTour-small-hoatdong img {
	width: 1rem;
	height: 1rem;
	flex: 1;
	margin-left: 1rem;
	margin-top: 0.2rem;
}
.title-Gia-Noidung-DatTour-small-hoatdong {
	font-size: 0.9rem;
	flex: 16;
	font-weight: bold;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-left: 1rem;
}
.Accept-Noidung-DatTour-small-hoatdong {
	display: flex;
	margin-top: 0.5rem;
	border-bottom: 1px solid rgb(216, 216, 216);
}
.Accept-Noidung-DatTour-small-hoatdong img {
	width: 1rem;
	height: 1rem;
	flex: 1;
	margin-left: 1rem;
	margin-top: 0.2rem;
}
.title-Accept-Noidung-DatTour-small-hoatdong {
	font-size: 0.9rem;
	flex: 11;
	font-weight: bold;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin-left: 1rem;
	padding-bottom: 2%;
}
.ThongTin-DuaDon {
	width: 41rem;
	width: 41rem;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 10px;
	height: 48rem;
	margin-left: 17.3rem;
	margin-top: 2rem;
}
.Content-Dattour {
	margin: 3rem 17.5rem 0;
	font-weight: 800;
}
.Chon-Dattour {
	display: flex;
	width: 60rem;
	box-shadow: 3px 3px 5px 6px #ccc;
	border-radius: 10px;
	height: max-content;
	padding-bottom: 1.2%;
	margin: 0 auto;
	margin-top: 2rem;
	justify-content: space-around;
}
.Content-Chon-Dattour {
	flex-basis: 67%;
	margin-top: 2rem;
	font-weight: bold;
}
.giatien-noidung {
	font-weight: bold;
}
.giatien-chitiet-tour {
	color: rgb(255, 94, 31);
	font-weight: bold;
	font-size: 1.6rem;
}
.giatien-chitiet {
	position: relative;
	font-size: 1.2rem;
	top: 2rem;
	right: 9rem;
}
.btn-Chon {
	position: relative;
	width: 5rem;
	height: 3rem;
	text-align: center;
	padding: 0.6rem;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgba(255, 255, 255, 1);
	background-color: rgb(255, 94, 31);
	border: 0 solid black;
	cursor: pointer;
	height: 3rem;
	text-align: center;
	border-width: 2px;
	border-radius: 10px;
	border-color: rgba(255, 255, 255, 1);
	background-color: rgb(255, 94, 31);
	border: 0 solid black;
	cursor: pointer;
}
.thoiGianTQ {
	margin-top: 5%;
}
.box-thoiGianTQ-header {
	border-bottom: 1px solid rgb(216, 216, 216);
}
.box-thoiGianTQ-header-content {
	width: 100%;
	display: inline-flex;
	padding: 1.5% 1.5%;
}
.box-thoiGianTQ-header-content h4 {
	margin-top: 0;
}
.box-thoiGianTQ-header img {
	margin-right: 2%;
}
.box-thoiGianTQ-yeuCauThem {
	padding: 0.5% 1.5%;
}
.box-thoiGianTQ-yeuCauThem textarea {
	margin-top: 1%;
	resize: none;
	width: 100%;
	padding: 1%;
	border: 0.5px solid rgb(205, 208, 209);
}

.tomTat {
	margin-top: 5%;
}
.box-tomTat {
	padding: 1.5%;
}
.box-tomTat-tongGia {
	display: inline-flex;
	width: 100%;
	font-size: 1.5rem;
}
.box-tomTat-tongGia h4 {
	margin-top: 0;
	width: 20%;
}
.box-tomTat-tongGia p {
	float: right;
	width: 80%;
	text-align: end;
}
.box-tomTat-giaCaNhan {
	margin-top: 4%;
	font-size: 1.2rem;
}
.box-tomTat-giaCaNhan h4 {
	color: black;
}
.box-tomTat-giaCaNhan p {
	float: right;
	width: 80%;
	text-align: end;
}

.btn-tiepTuc {
	background-color: rgb(255, 94, 31);
	margin-top: 5%;
	text-align: end;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1% 5%;
	border: none;
	border-radius: 6px;
}
.btn-tiepTuc:hover {
	cursor: pointer;
	background-color: rgb(168, 59, 16);
	transition: 0.5s;
}

.btn-timtour {
	color: white;
	font-weight: bold;
}
.ngayDatTour {
	display: inline-flex;
	margin-top: 15%;
	width: 100%;
	justify-content: space-between;
}
.ngayDatTour-calendar {
	position: relative;
	width: 15rem;
	margin-left: -45rem;
}
.ngayDatTour-soNguoiDi-input {
	margin-bottom: 15%;
}
.ngayDatTour-soNguoiDi-input label {
	padding-right: 10px;
	font-weight: bold;
}
.ngayDatTour-soNguoiDi-input input,
.ngayDatTour-soNguoiDi-input p {
	float: right;
	padding: 4px;
	font-weight: bold;
}
.ngayDatTour-soNguoiDi-input p {
	padding: 0;
	font-weight: bolder;
}
.ngayDatTour-khungGio-input label,
.ngayDatTour-khungGio-input option,
.ngayDatTour-khungGio-input select {
	padding: 4px;
	font-weight: bold;
}
.ngayDatTour-submit {
	margin-left: 50px;
	border: none;
	background-color: transparent;
	font-weight: 800;
	font-size: 1.2rem;
	color: rgb(1, 148, 243);
	transition: 0.3s;
}
.ngayDatTour-submit:hover {
	cursor: pointer;
	color: rgb(0, 105, 175);
}
