img{
    cursor: pointer;
}
.thongTinLienHe {
    margin-top: 2%;
}
.form-thongTinLienHe {
    width: 60%;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid rgb(216, 216, 216);
    box-shadow: rgb(3 18 26 / 20%) 1px 1px 2px;
}
.form-thongTinLienHe-header {
    padding: 1.5%;
    border-bottom: 1px solid rgb(216, 216, 216);
}
.form-thongTinLienHe-header h3 {
    display: inline-flex;
}
.form-thongTinLienHe-header button {
    float: right;
    border: none;
    font-weight: bold;
    background-color: transparent;
    font-size: 1rem;
    color: rgb(1, 148, 243);
    transition: 0.2s;
}
.form-thongTinLienHe-header button:hover {
    cursor: pointer;
    color: rgb(0, 90, 150);
}
.form-thongTinLienHe-body {
    padding: 1.5%;
}
.form-thongTinLienHe-input label,
.form-thongTinLienHe-input input {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}
.form-thongTinLienHe-input input {
    padding: 10px;
    height: 40px;
    border: 1px solid rgb(216, 216, 216);
}
.form-thongTinLienHe-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3% 1.5%;
    background-color: rgb(242, 243, 243);
}
.form-thongTinLienHe-footer input[type="radio"] {
    margin-right: 1.2rem;
}
/* thongtintour */
.noidung-dattour{
    width:60rem;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    height: 48rem;
    margin: 0 auto;
    margin-top: 5rem;
}
.image{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 2rem;
}
.image-dattour-1{
    flex: 4.3;
    flex-direction: column;
}
.image-dattour-2{
    flex: 1;
    margin-right: 2rem;
    flex-direction: column;
}
.btn-favorite{
    width: 24px;
    height: 24px;
    float: right;
}
.giatien-tour{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-around
}
.noidung-giatien-tour{
    flex-basis: 65%;
}
.btn-timtour{
  width: 15rem;
  height:3rem;
  text-align: center;
  padding: 0.6rem;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 1);
  background-color: rgb(255, 94, 31);
  border: 0 solid black;
  cursor: pointer;
}
.image-khoanhkhac{
    display: flex;
}
.img-khoanhkhac{
    flex: auto;
    margin: .5vw;
    cursor: pointer;
}
.type-hoatdong{
    margin:3rem 17.5rem 0
}
.DiemNoiBat-hoatdong{
    display: flex;
    flex-wrap: initial;
    margin-top: 2rem;
}
.NoiDung-DiemNoiBat{
    width:41rem;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    height: 48rem;
    margin-left: 17.3rem;
}
.Noidung-DatTour-small-hoatdong{
    width:18rem;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    height: 20rem;
    margin-left: 1.6rem;
}
.ThongTin-DuaDon{
    width:41rem;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    height: 48rem;
    margin-left: 17.3rem;
    margin-top: 2rem;
}
.Content-Dattour{
    margin:3rem 17.5rem 0
}
.Chon-Dattour{
    display: flex;
    width:60rem;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 10px;
    height: 48rem;
    margin: 0 auto;
    margin-top: 2rem;
    justify-content: space-around;
}
.Content-Chon-Dattour{
    flex-basis: 85%;
    margin-top: 2rem;
}
.giatien-chitiet{
    position: relative;
    top: 2rem;
    right: 7rem;
}
.btn-Chon{
    width: 5rem;
  height:3rem;
  text-align: center;
  padding: 0.6rem;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 1);
  background-color: rgb(255, 94, 31);
  border: 0 solid black;
  cursor: pointer;
}