@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@font-face {
  font-family: MuseoSans;
  src: url("resources/fonts/SVN-Museo\ Sans\ Regular.ttf");
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "MuseoSans";
}
.top-image {
  position: relative;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 25%), url("resources/img/topImage.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.top-image-text {
  position: absolute;
  color: white;
  top: 35%;
  left: 40%;
  font-weight: 900;
  text-align: center;
}
.top-image-text h1 {
  font-size: 36px;
  margin-bottom: 16px;
}
.search {
  position: relative;
  margin: -40px 0px 0px 500px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 3px 3px 5px 6px #ccc;
  height: 85px;
  border-radius: 6px;
  width: 45%;
}
.search input {
  border: 0px;
  width: 90%;
}
.search input:focus[type="text"] {
  outline: 0px;
}
.search input[type="submit"] {
  background-color: rgb(255, 109, 106);
  background-image: url(https://d1785e74lyxkqq.cloudfront.net/webxpe-desktop/_next/static/13e9b928244e46d452ab434001cf575a.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  width: 75px;
  margin: 5px 0px;
}
.search input,
.search-logo {
  margin: 0px 15px;
}
.main-index-body {
  margin: 80px 85px;
}
.list-diemDenDP ul li {
  position: relative;
  display: inline-block;
  border-radius: 6px;
  width: max-content;
  width: 280px;
  height: 210px;
  margin-right: 25px;
  background-position: center;
  opacity: 0.8;
}
.list-diemDenDP ul {
  margin-top: 30px;
}
.list-diemDenDP h4 {
  color: rgba(143, 143, 143, 1);
  margin-top: 15px;
}
.list-diemDenDP ul li h4 {
  position: absolute;
  top: 42%;
  left: 30%;
  text-shadow: black;
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: center;
}
/* HEADER */
.header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header + .body {
  padding-top: 6%;
}
nav {
  background-color: white;
  padding: 10px 125px;
}
.main-nav ul,
.main-nav img {
  height: 36px;
}
nav ul {
  list-style: none;
  display: inline-flex;
  float: right;
}
nav ul li {
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
nav ul li img.service-logo {
  width: 20px;
  margin-right: 8px;
}
.services-nav {
  background-color: rgba(242, 243, 243, 1);
  height: 35px;
  padding-top: 0;
  padding-bottom: 0;
}
.services-nav ul {
  float: none;
}
.services-nav ul li {
  margin-top: 6px;
  margin-bottom: 5px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

/* FOOTER */
.Footer {
  background-color: rgba(27, 27, 27, 1);
  width: 100%;
  padding-top: 56px;
  padding-bottom: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.row {
  margin: 0px 8%;
}
.row h4 {
  color: whitesmoke;
}
.Content {
  line-height: 2.5rem;
  font-weight: bold;
}
.footer-col {
  padding: 0 2rem;
}
.img-tieuChuan {
  margin-right: 10px;
  margin-bottom: 10px;
}
.Footer1-1 h4 {
  margin: 15px 0px;
}
.Footer-payment-image {
  display: inline-flex;
  justify-content: center;
  width: 64px;
  height: 48px;
  align-items: center;
  background: white;
  margin-right: 8px;
  margin-bottom: 8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.Footer-payment-image img {
  height: 18px;
}
.box-companion {
  display: flex;
  justify-content: center;
  border: 0 solid black;
  width: 246.93px;
  height: 72px;
  align-items: center;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-top-width: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-color: rgba(255, 255, 255, 1);
  border-left-color: rgba(255, 255, 255, 1);
  border-right-color: rgba(255, 255, 255, 1);
  border-top-color: rgba(255, 255, 255, 1);
}
.box-companion img {
  width: 36px;
  margin-right: 16px;
}
.box-companion-content {
  color: rgba(255, 255, 255, 1);
  text-align: left;
  font-size: 16px;
}
div ul {
  list-style: none;
}
.Footer-2 ul li {
  display: list-item;
}
.Footer-2 ul li a {
  position: relative;
  color: gray;
}
.Footer-2-1 li a:hover {
  color: whitesmoke;
}
.Footer-content,
.Footer-content1 {
  filter: grayscale(1);
  font-size: 0.88rem;
}
.Footer-2-2 li a:hover {
  color: whitesmoke;
  filter: none;
  -webkit-filter: grayscale(0);
}
.Footer-2-2 img {
  margin-right: 6%;
}
.Footer-3 ul li {
  display: block;
}
.Footer-3 ul li a {
  position: relative;
  color: gray;
}
.Footer-3-1 li a:hover {
  color: whitesmoke;
}
.Footer-4 ul li {
  display: block;
}
.Footer-4 ul li a {
  position: relative;
  color: gray;
}
.Footer-4-1 li a:hover {
  color: whitesmoke;
}

.Footer-content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  left: 50%;
  bottom: 0;
}
.Footer-content:hover::after {
  transform: translateX(-50%) scaleX(1);
  -webkit-transform: translateX(-50%) scaleX(1);
}
.Footer-content1 p {
  display: inline-flex;
  font-size: 0.88rem;
}
.Footer-content1 p:hover {
  border-bottom: 2px solid white;
}

.Footer-dowload-imgae-filter {
  filter: grayscale(200%);
  opacity: 0.5;
}
.Footer-dowload-imgae-filter:hover {
  filter: none;
  -webkit-filter: contrast(200%);
  opacity: 1;
}
.wrap-content-end {
  text-align: center;
  color: white;
  margin-top: 2%;
  font-weight: bolder;
}
