@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@font-face {
  font-family: MuseoSans;
  src: url("resources/fonts/SVN-Museo\ Sans\ Regular.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "MuseoSans";
}
.top-image {
  position: relative;
  height: 300px;
  margin-top: 5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 25%), url("resources/img/topImage.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.top-image-text {
  position: absolute;
  color: white;
  top: 35%;
  left: 40%;
  font-weight: 900;
  text-align: center;
}
.top-image-text h1 {
  font-size: 36px;
  margin-bottom: 16px;
}
.search {
  position: relative;
  margin: -40px 0px 0px 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 3px 3px 5px 6px #ccc;
  height: 85px;
  border-radius: 6px;
  width: 45%;
}
.search input {
  border: 0px;
}
.search input:focus[type="text"] {
  outline: 0px;
}
.search input[type="submit"] {
  background-color: rgb(255, 109, 106);
  background-image: url(https://d1785e74lyxkqq.cloudfront.net/webxpe-desktop/_next/static/13e9b928244e46d452ab434001cf575a.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  width: 75px;
  margin: 5px 0px;
}
.search input,
.search-logo {
  margin: 0px 15px;
}
.main-index-body {
  margin: 80px 85px;
}
.list-diemDenDP ul li {
  position: relative;
  display: inline-block;
  border-radius: 6px;
  width: max-content;
  width: 280px;
  height: 210px;
  margin-right: 25px;
  background-position: center;
  opacity: 0.8;
}
.list-diemDenDP ul {
  margin-top: 30px;
}
.list-diemDenDP h4 {
  color: rgba(143, 143, 143, 1);
  margin-top: 15px;
}
.list-diemDenDP ul li h4 {
  position: absolute;
  top: 42%;
  left: 30%;
  text-shadow: black;
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: center;
}
/* HEADER */
.header {
  width: 100%;
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}
nav {
  background-color: white;
  padding: 10px 125px;
}
.main-nav ul,
.main-nav img {
  height: 36px;
}
nav ul {
  list-style: none;
  display: inline-flex;
  float: right;
}
nav ul li {
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
nav ul li img.service-logo {
  width: 20px;
  margin-right: 8px;
}
.services-nav {
  background-color: rgba(242, 243, 243, 1);
  height: 35px;
  padding-top: 0;
  padding-bottom: 0;
}
.services-nav ul {
  float: none;
}
.services-nav ul li {
  margin-top: 6px;
  margin-bottom: 5px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}
